.food-item-container {
    height: -webkit-fill-available;
  }

@media (max-width: 640px) {
    .food-item-container {
      height: auto;
    }
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}