.horizontal-line {
  height: 2px;
}

.form-check-input {
  border-color: #eda345 !important;
}

.form-check-input:checked {
  background-color: white !important;
  border-color: #eda345 !important;
}

.form-check-input:checked + Label {
  background-color: white !important;
  border-color: #eda345 !important;
}

/* Payment method */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.radio-section {
  display: flex;
  height: auto !important;
  align-items: left !important;
  justify-content: left !important;
}
.radio-item [type="radio"] {
  display: none;
}

.radio-item + .radio-item {
  margin-top: 15px;
}

.radio-item label {
  display: block;
  padding: 15px 20px 15px 60px;
  /* background: #1d1d42; */
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  min-width: 285px;
  white-space: nowrap;
  position: relative;
}
.radio-item label:after,
.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.radio-item label:after {
  height: 20px;
  width: 20px;
  border: 2px solid #c4c4c4;
  left: 20px;
  top: calc(50% - 12px);
}
.radio-item label:before {
  background: #eda345;
  height: 12px;
  width: 12px;
  left: 24px;
  top: calc(50% - 8px);
  transform: scale(2);
  transition: 0s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
}
.radio-item [type="radio"]:checked ~ label {
  border-color: #eda345;
}

.radio-item [type="radio"]:checked ~ label:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.radio-item input[type="radio"]:checked + label::after {
  border-color: #eda345;
}

.custom-label {
  display: flex;
  align-items: center;
}

.title-label {
  font-size: 18px;
}
